body {
    background: #eee;
    margin: 20px auto;
    max-width: 960px;
}
.box {
    padding: 100px 0;
    width: 400px;
    text-align: center;
    background: #dddddd;
    margin: 20px;
    display: inline-block;
}

img {
    height: 100px;
    width: 100px;
}

ul, h2, h3 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    background: #fff;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.fav {
    background: rgb(233, 178, 228);
    color: white;
}